/* Standard */
html
{
	background: url('data/img/bg.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Video background */
#bg-video
{
    position: fixed;
    top:0;
	bottom:0;
    left:0;
	right:0;
	object-fit: cover;
	min-width: 100%;
	min-height: 100%;
}

/* Site introduction */
#site-intro
{
	background-color: rgba(237, 237, 237, 0.80);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
#site-intro .jumbotron
{
	background-color: transparent !important;
}
#site-intro-wrapper
{
	position: relative;
}
#site-intro-wrapper h2
{
	padding-bottom: 64px;
}
#site-intro-wrapper ol, #site-intro-wrapper li
{
	font-size: 20px;
	padding-bottom: 20px;
}

/* Hacky stuff */
.row-padding-fix
{
	padding:0 !important;
	margin: 0 !important;
}
.center-col
{
	text-align:center;
}

/* Bootstrap overrides */
.jumbotron
{
	background-color: rgba(200, 200, 200, 0.90) !important;
	border-radius: 7px;
	padding: 30px !important;
	margin: 0px !important;
}
.jumbotron h1
{
	margin-top: 0 !important;
}
.jumbotron .well
{
	background-color: rgba(200, 200, 200, 0.90) !important;
}
.well p
{
	cursor: default;
}
#well-info
{
	background-color: rgba(200, 200, 200, 0.90) !important;
}

.theme
{
	color:#555 !important;
	text-align: center !important;
}
.tooltip-inner
{
	width: auto !important;
}

/* Custom */
/* Main Page */
#foffbox-form, #foffbox-form-group
{
	margin: 0 !important;
}
#well-optional
{
	margin:0 !important;
}
#message
{
	max-width:100%;
}
.field-subtext
{
	color: #777 !important;
	cursor: default;
}
#container-email
{
	display:none;
}
#suggestion
{
	color: #3D72E3 !important;
	cursor: pointer;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
}

/* Required fields & error messages */
.required
{
	color: #3C9FC9;
}
.required-form
{
	color: #3C9FC9 !important;
}

/* Error messages */
.alert-hide
{
	display: none;
}
#alert-loading img
{
	margin-right: 8px;
}
#youtube-link-error, #message-error, #email-error
{
	color: #DB5353;
	margin-top:3px;
}
#youtube-link-error, #email-error, #message-error
{
	margin-bottom:15px;
}

.txt-fixed
{
	font-family:"Consolas", Monospace;
	font-size: 12px;
}

/* Checkbox */
#accept-label
{
	font-weight: normal;
}

/* Footer */
#footer
{
	background-color: rgba(220, 220, 210, 0.60) !important;
	border-radius:7px;
	font-size: 11px;
	text-align: center;
}
#footer p
{
	cursor: default;
	font-size: 12px;
	margin-bottom: 0 !important;
}