html
{
	overflow-x: hidden;
	overflow-y: hidden;
}

/* Bootstrap overrides/add-ons */
.center-col
{
	text-align:center;
}

.glyphicon
{
	padding-bottom:2px;
}

.row-padding-fix
{
	padding:0 !important;
	margin: 0 !important;
}

/* Foffbox Player */
#foffbox-player
{
	padding-bottom: 10px;
	padding-top: 10px;
}

#foffbox-player-report:hover
{
	color: #B52626;
}
#foffbox-player-drop:hover
{
	color: #5999D8;
}
#foffbox-player-quote p
{
	color: #DDD;
	font-size: 22px;
}
#foffbox-player-quote footer
{
	color: #666;
}
#foffbox-player-video
{
    position: fixed;
    top:0;
	bottom:0;
    left:0;
	right:0;
	object-fit: cover;
	min-width: 100%;
	min-height: 100%;
}
#foffbox-player-video-cover
{
	background-color: none;
	cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#foffbox-player-toolbar
{
	text-align: center;
}

/* Foffbox Player Comments */
#comment-field
{
	background-color: #111;
	border-color: #555;
	color: #FAF7ED;
	min-height: 64px;
	min-width: 100%;
	max-width: 100%;
}
#comment-area, #foffbox-player-quote
{
	padding-left: 15px !important;
	padding-right: 15px !important;
	padding-top: 15px !important;
}
#foffbox-player-quote
{
	margin-top: 15px !important;
}
#foffbox-player-right
{
	background-color: #222;
	border: 1px solid #111;
	color: #777;
	cursor: initial;
	height: 95%;
	margin: 0;
	overflow-y: auto;
	position: fixed;
	left: 100%;
	top: 0;
	width: 25%;
	word-wrap: break-word;
	z-index: 2;
}

#comment-thread .well
{
	background-color: #C5C5C5;
	border-color: #C3C3C3;
	color: #444 !important;
}
.comment-subtext
{
	font-style: italic;
}

/* Comment labels */
.comment-label.label-default:hover
{
	background-color: #5bc0de !important;
}

/* Foffbox Player "Drop Beats" dialog */
#drop-beats-message
{
	max-width: 100%;
}
#drop-beats-url, #drop-beats-message
{
	color: #000 !important;
}

/* Heheheheheheh */
.greentext
{
	color: #789922;
}

/* Toolbar */
#foffbox-toolbar
{
	background-color: #111;
	border-top: 1px solid #222;
	height: 5%;
	padding: 0;
	text-align: center;
	width: 100%;
}
.foffbox-player-button
{
	background-color: #111 !important;
	border-left: 1px solid #222 !important;
	border-right: 1px solid #222 !important;
	border-top: none !important;
	border-bottom: none !important;
	border-radius: 0px;
	color: #555;
	cursor: pointer;
	display: table;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	height: 100%;
}
.foffbox-player-button .glyphicon
{
	display:table-cell;
	font-size: 24px;
	padding: 0;
	vertical-align:middle;
}
.foffbox-player-button:hover
{
	color: #44A650;
}
.foffbox-player-button-active
{
	color: #29E33F !important;
}
.foffbox-player-button-inactive
{
	color: #999 !important;
	cursor: default !important;
}